services:
  # Consul service for service discovery. When using Kubernetes this might not required as K8 
  # internally support service discovery using Service resources.
  # consul:
  #   image: consul:latest
  #   container_name: consul
  #   ports:
  #     - "8500:8500"
  #   volumes:
  #     - ./discovery-service/consul.json:/consul/config/consul.json  # Mount custom configuration file
  #   environment:
  #     - CONSUL_LOCAL_CONFIG: |
  #         {
  #           "verify_incoming": false,
  #           "verify_outgoing": false
  #         }
  #   command: "agent -dev -config-dir=/consul/config"  # Run Consul in development mode (use a production setup in real environments)

  # Gateway service (written in Go using Gin)
  gateway-service:
    build:
      context: .  # Build from the Gateway Service directory
      dockerfile: ./gateway/Dockerfile  # Build from the Gateway Service directory
    container_name: gateway-service
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - ./gateway/.env
    volumes:
      - ./gateway/config.yaml:/app/config.yaml
      - /tmp/home-server/gateway:/app/logs/gateway
    networks:
      - default

  # Authentication service (written in Go)
  auth-service:
    build:
      context: .  # Changed from ./auth to . (parent directory) to access common module
      dockerfile: ./auth/Dockerfile  # Specify which Dockerfile to use
    container_name: auth-service
    restart: unless-stopped
    ports:
      - "8081:8080"  # Map host port 8081 to container port 8080
    depends_on:
      - postgres
    env_file:
      - ./auth/.env
    volumes:
      - ./auth/config.yaml:/app/config.yaml
      - /tmp/home-server/auth:/app/logs/auth
    networks:
      - default

  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    env_file:
      - ./postgres/.env
    ports:
      - "5432:5432"  # Accessible for local dev
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - default

volumes:
  postgres-data:

networks:
  default:
    driver: bridge
